# Puerto local en el que el servidor escuchará las peticiones del Operador de Terreno
PORT=3000

# Entorno de ejecución del sistema (development, production)
NODE_ENV=development

# Cadena de conexión completa para la base de datos de MongoDB (local o en la nube)
MONGO_URI=mongodb://127.0.0.1:27017/mtrr_unefa_db

# Clave secreta utilizada por el backend para firmar y validar los tokens de acceso del Cliente
JWT_SECRET=firma_secreta_de_desarrollo_unefa_mtrr_2026

# Tiempo de expiración configurado para la sesión del Operador de Terreno (ej: 24h, 7d)
JWT_EXPIRES_IN=24h#s